$color__default: #111;
$color__link: pink;
$color__basic: #fff;
$color__link--hover: rgb(253, 68, 99);

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.report__base {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  z-index: 5;
}

//report container
.report__content {
  margin: 0 auto;
  max-width: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 50px;
  padding: 20px;
  h3 {
    color: $color__default;
    font-size: 40px;
    text-align: center;
  }
  label {
    color: $color__default;
    font-weight: 600;
    line-height: 40px;
    font-size: 1rem;
  }
  i {
    font-size: .8rem;
    font-weight: 300;
    color: grey;
    text-align: center;
  }
  input[type="submit"] {
    background: $color__link;
    color: $color__basic;
    border: none;
    font-size: 16px;
    font-weight: 900;
    height: 40px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    display: block;
    border-radius: 50px;
    margin-top: 35px;
    transition: background-color 0.8s;
    &:hover {
      background-color: $color__link--hover;
    }
  }
}

.report__form {
  display: flex;
  flex-direction: column;
  select {
    box-shadow: none;
  }
  .issue {
    width: 100%;
    height: 45px;
  }
}

.report {
  background: $color__default;
  color: $color__basic;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  &:hover {
    background: red;
    color: $color__basic;
    transition: 0.7s;
  }
}

.form__label__left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

html:lang(ja) {
  .report {
    font-size: 10px;
  }
}

button {
  color: $color__basic;
  background-color: $color__default;
  padding: 10px;
  border-radius: 25px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  transition: background-color 0.5s ease;
  &:hover,
  &:focus {
    background-color: $color__link--hover;
  }
}

#close,
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s;
}

#close:hover,
#close:focus,
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
select {
  width: 100%;
  height: 35px;
}
